header {
  width: 100%;
  height: 4rem;

  background-color: #362c21e3;
  backdrop-filter: blur(10px);

  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav {
  height: 100%;
  font-weight: bold;

  display: flex;
  justify-content: space-between;
}

a {
  height: auto;
  padding: 1.1rem;

  text-decoration: none;
  font-size: 1.3rem;
  font-weight: bold;
  color: white;

  transition: all 0.3s;
}

a:hover {
  background-color: #836923;
}
